.card-img {
  width: 100px;
  margin-top: 10px;
}

.card-title {
  font-size: 30px;
  margin-bottom: 0;
}

.card-subtitle {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-text {
  color: #007C1D;
  font-size: 25px;
}
